
/* Mobile Responsive */
@media (max-width: 600px){

    #inp{
        width: 40%;
        margin-bottom: 8px;
    }

    #btn,
    #dell{
        width: 30%;
        margin-top: 10px;
    }

    #l{
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

}

div{
        background-color:lightgreen;
        }
        #inp{ 
            border-top: 2px solid blue;
            border-bottom: 2px solid red;
            border-left: 3px solid purple;
            border-right: 3px solid orange;
            height: 50px;
            width: 700px;
            border-radius: 7px;
            margin-left: 40px;
        }
        #btn{
           
           background-color: turquoise;
            height: 40px;
            border-radius: 10px;
              letter-spacing: 2px;
             font-weight: bold;
            width: 100px;
            border: none;
        }
        #dell{
              border: 2px solid black;
              border: none;
              background-color: purple;
              letter-spacing: 2px;
              font-weight: bold;
            height: 40px;
            border-radius: 10px;
            width: 100px;
        }
        #l{ background-color: darkslategray;
            width: 500px;
          border-radius: 10px;
           margin:50px auto;
           max-width:100%
        }
       
  ::placeholder{
 letter-spacing: 1.5px;
 color:grey;
 font-weight: bold;
  }   
        body{
            background-color: gray;
        }
